.product-form {
    width:20rem;
    max-width: 90%;
    margin: auto;
}

.form-control label,.form-control input{
    display:block;
    margin-top: 1rem;
    width:100%;
}
button{
    border: 1px solid black;
    border-radius: 3px;
    background-color: aqua;
    outline: 0;
    cursor: pointer;
    margin-top: 1rem;
}
button:active,
button:hover{
    color: white;
    background-color:rgb(56, 45, 94);
}